div{
padding-top: 250px;
}
.matn{
color: green;
animation-name: text;
animation-duration: 6s;
animation-iteration-count: infinite;
}
@keyframes text{
0%{color:red;}
30%{color:gold;}
100%{color:green;}
}